        html {}
        
        body {}
        
        section {
            margin-bottom: 20px;
            background-color: #BBDEEE;
        }
        
        .eka {}
        
        .toka {
            border: solid black 1px;
        }
        
        .kolmas {
            border: solid black 1px;
        }
        
        #punch {
            float: left;
            font-size: 500%;
            width: 1.2em;
            text-align: center;
            padding: 0.1em 0.1em 0;
            background: #568;
            color: white;
            border: solid white 1px;
            border-width: 0 0.2em 0.2em 0;
            margin: 0 0.5em 0.2em 0;
        }
        
        #punch2 {
            float: left;
            font-size: 500%;
            width: 1.2em;
            text-align: center;
            padding: 0.1em 0.1em 0;
            color: white;
            border: solid black 1px;
            border-width: 0 1px 1px 0;
            margin: 0 0.5em 0.2em 0;
        }
        
        #punch3a {
            float: left;
            font-size: 12px;
            width: 250px;
            text-align: center;
            padding: 20px;
            background: white;
            color: black;
            border: solid black 1px;
            border-width: 0 1px 1px 0;
            margin: 0 0.5em 0.2em 0;
        }
        
        #punch3b {
            float: right;
            width: 25%;
            text-align: left;
            font-size: 140%;
            font-weight: bold;
            font-style: italic;
            padding: 1em;
            text-indent: -0.5em;
            background: white;
            color: black;
            border: solid black 1px;
            border-width: 1px 0 1px 1px;
            margin: 0.2em -1px 0.2em 0.5em;
        }
        
        h1 {
            margin: 0;
            padding: 10px 20px;
            text-align: right;
            background-color: #88AABB;
            text-transform: lowercase;
            font-family: sans-serif;
            font-size: 18px
        }
        
        .pieni {
            text-transform: initial;
            text-align: left;
            border: 0;
            letter-spacing: 0;
            font-size: 16px;
            background-color: unset;
            font-family: serif;
        }
        /* Sivun kuvat responsiivisiksi*/
        
        figure {
            display: block;
            background-color: white;
        }
        
        figure img {
            max-width: 100;
        }